@import '../../../styles/color/variables.scss';

.background {
  background-color: #E5E5E5;
  width           : 100vw;
  height          : 100vh;
  display         : flex;
  justify-content : center;
  align-items     : center;
  padding         : 0px 15px;
}

.login-container {
  width           : 540px;
  border-radius   : 16px;
  background-color: white;
  height          : fit-content;
  font-size       : 14px;
  font-family     : 'Mulish';
  font-weight     : 600;

  .content {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    margin         : 30px;

    .title {
      color      : $primary--color1;
      font-weight: 700;
      font-size  : 24px;
      line-height: 36px;
    }

    .title-line-break {
      background-color: $primary--color1;
      width           : 80px;
      height          : 3px;
      margin-top      : 16px;
    }

    .body {
      margin-top: 5px;
      width     : 100%;

      .ant-input-affix-wrapper {
        border       : 0px solid white;
        border-bottom: 1px solid $primary--color1;
        border-radius: 0px;
        line-height  : 40px;
        margin-top   : 10px;
      }

      i {
        color: $primary--color1;
      }
    }

    .additional-action {
      width          : 100%;
      display        : flex;
      justify-content: space-between;
      margin-top     : 20px;
      line-height    : 20px;
    }

    .footer {
      display    : flex;
      flex-flow  : column;
      align-items: center;

      .login-button {
        margin-top     : 20px;
        width          : 168px;
        height         : 40px;
        color          : white;
        background     : $button-bgr-color;
        display        : flex;
        justify-content: center;
        align-items    : center;
        border-radius  : 6px;
        font-weight    : 600;
      }

      .social-login {
        margin-top: 20px;

        .social-logo {
          display        : flex;
          justify-content: center;

          img {
            width : 30px;
            height: 30px;
            margin: 15px;
          }
        }
      }

      .note {
        a {
          text-decoration: underline;
          color          : $primary--color1;
        }
      }
    }
  }
}