$primary--color1: #be9355;
$yellow--color: #e7af43;
$gray--color: #c4c4c4;
$primary--color2: #011769;

$button-bgr-color: radial-gradient(
  circle,
  rgba(227, 171, 67, 1) 0%,
  rgba(200, 148, 69, 1) 100%
);

@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url(../../assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
$button-bgr-color: linear-gradient(
  to right,
  rgba(227, 171, 67, 1) 0%,
  rgba(200, 148, 69, 1) 100%
);

html {
  body {
    font-family: Mulish;
    font-weight: 500;
    font-style: normal;
  }
}
