@import '../../styles/color/variables.scss';

// .btn-arrow {
//     height          : 40px;
//     width           : 40px;
//     border-radius   : 100%;
//     background-color: $primary--color1;
//     text-align      : center;
//     display         : flex;
//     flex-direction  : column;
//     justify-content : center;
//     color           : #FFFFFF;
//     cursor          : pointer;
// }

.container-table-price {
    padding: 20px 0px;


    .next-arrow,
    .previous-arrow {
        position        : absolute;
        top             : calc(50% - 20px);
        z-index         : 1;
        background-color: $primary--color1;
        color           : white;
        border-radius   : 100%;
        height          : 40px;
        width           : 40px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        font-size       : 20px;
    }

    .next-arrow {
        right: -25px;
    }

    .previous-arrow {
        left: -25px;

    }

    // .wrap-responsive {}

    @media only screen and (max-width: 991px) {
        .wrap-slider {
            max-width: 100% !important;
        }
    }

    @media only screen and (min-width: 992px) {
        .wrap-slider {
            max-width: 962px !important;
        }
    }


    @media only screen and (min-width: 1200px) {
        .wrap-slider {
            max-width: 900px !important;
        }
    }

    .title-page {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;



        h2 {
            color      : $primary--color1;
            font-size  : 24px;
            font-weight: 700;
        }
    }



    .btn-left {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;


    }

    .slide-container-1,
    .slide-container-2 {
        .slick-list {
            margin: 0px 30px;
        }

        // .slick-prev,
        // .slick-next {
        //     background-color: $primary--color1;
        //     height          : 40px;
        //     width           : 40px;
        //     border-radius   : 100%;
        //     // display         : flex !important;
        //     align-items     : center;
        //     justify-content : center;
        // }

        .box-selected,
        .box {
            display           : flex !important;
            align-items       : center;
            justify-content   : center;
            // width          : auto !important;
            height            : 160px;
            width             : 160px !important;
            margin            : auto
        }

        .box-selected {
            border: 2px solid #011769;
        }

        .box {
            border: 2px solid #C4C4C4;
        }
    }


    .slide-container-1 {
        margin-top   : 10px;
        // padding   : 0px 20px;
    }




    .slide-container-1 .wrap-slider,
    .slide-container-2 .wrap-slider {
        padding     : 75px 20px 40px 20px;
        width       : 100%;
        margin-right: auto;
        margin-left : auto;
    }

    // .slide-container-1 .wrap-items,
    // .slide-container-2 .wrap-items {
    //     display        : flex !important;
    //     flex-direction : row;
    //     justify-content: center;

    //     .box {
    //         display        : flex;
    //         flex-direction : column;
    //         align-items    : center;
    //         justify-content: center;
    //         border         : 1px solid #C4C4C4;
    //         width          : 160px;
    //         height         : 160px;
    //         margin         : 10px 10px;
    //         flex-grow      : 1;
    //         flex-basis     : auto;
    //     }
    // }

    .slide-container-2 {

        padding     : 0px 15px;
        width       : 100%;
        margin-right: auto;
        margin-left : auto;

        .content {
            padding: 25px 70px;
        }

        .space-table-price {
            width           : 100%;
            height          : 1px;
            background-color: $primary--color1;
        }

        .slick-disabled {
            opacity: 0;
        }

        .cirle-ratio-selected,
        .cirle-ratio {
            display        : flex !important;
            justify-content: center;
            width          : 105px !important;
            margin         : auto;

            .CircularProgressbar .CircularProgressbar-trail {
                stroke: #E0E0E0;
            }

            .CircularProgressbar .CircularProgressbar-path {
                stroke: #DDBC78;
            }
        }

        .cirle-ratio-selected .CircularProgressbar {
            background-color: #FFF0D2;
            border-radius   : 100%;
            box-shadow      : 0px 0px 16px #DDBC78 !important;
            margin          : 15px 0px;
        }

        .cirle-ratio .CircularProgressbar {
            background-color: #ffffff;
            border-radius   : 100%;
            margin          : 15px 0px;

        }

        .slick-list {
            margin: 0px 20px;
        }

        // .slick-prev,
        // .slick-next {
        //     background-color: $primary--color1;
        //     height          : 40px;
        //     width           : 40px;
        //     border-radius   : 100%;

        // }
    }

    @media only screen and (max-width: 991px) {
        .slide-container-2 {
            max-width: 100% !important;


        }
    }

    @media only screen and (max-width: 1110px) {
        .slide-container-2 {

            .content {
                padding: 20px;
            }
        }
    }

    // @media only screen and (min-width: 992px) {
    //     .slide-container-2 {
    //         max-width: 962px !important;
    //     }
    // }


    @media only screen and (min-width: 1110px) {
        .slide-container-2 {
            max-width: 1110px !important;
        }

        // .box {
        //     width: 230px !important;
        // }
    }

    .circle-note {
        padding-bottom: 20px;
        margin-top    : -25px;

        .wrap-btn-note {
            height          : 65px;
            width           : 65px;
            border-radius   : 100%;
            background-color: $primary--color1;
            font-size       : 13px;
            font-weight     : 500;
            color           : white;
            padding         : 5px;
            position        : relative;
            cursor          : pointer;
            z-index         : 9;

            .circle-child {
                position     : absolute;
                height       : 55px;
                width        : 55px;
                border       : 2px solid white;
                border-radius: 100%;
                text-align   : center;
                padding      : 4px;
                font-size    : 13px;
                user-select  : none;
            }


        }

        .square-content {
            z-index         : 3;
            opacity         : 0;
            top             : -72px;
            left            : 33px;
            position        : absolute;
            padding         : 10px 30px 10px 50px;
            border          : 2px solid $primary--color1;
            border-radius   : 10px;
            display         : flex;
            flex-direction  : row;
            width           : fit-content;
            font-size       : 13px;
            color           : #2D3B85;
            background-color: white !important;
            white-space     : nowrap;
            display         : none;

            .ct-status,
            .ct-amount {
                margin-left   : 40px;
                display       : flex;
                flex-direction: column;
                font-weight   : 500;

                .st-title {
                    border-bottom: 2px solid #EBEBEB;
                    padding      : 10px 37px;
                    text-overflow: ellipsis;
                }

                .st-item {
                    padding      : 8px;
                    text-overflow: ellipsis;

                }
            }

            .ct-amount {
                margin-left: 0;

                .st-item {
                    text-align: center;
                }
            }

            .space-div {
                height          : auto;
                width           : 2px;
                background-color: #EBEBEB;
            }
        }
    }

    .wrap-table {
        .ant-table-thead>tr>th {
            background-color: #BE9355 !important;
            text-align      : center;
            color           : white;
            word-spacing    : 9999px;
            padding-top     : 5px;
            padding-bottom  : 5px;
        }

        .ant-table-row {
            height: 96px;
        }
    }





}