@import '../../styles/color/variables.scss';


.container-drawer {

    .ant-drawer-body {
        padding: 10px 0px;
    }

    .wrap-contentdrawer {
        display       : flex;
        flex-direction: column;

        .div-col-space-drawer {
            height          : 2px;
            width           : 100%;
            background-color: rgb(172, 172, 172);
        }

        a {
            color: rgb(0, 0, 0);
        }

        .tab-item {
            padding    : 10px 15px;
            cursor     : pointer;
            transition : 500ms;
            font-weight: 500;

            h3 {
                margin-bottom: 0px;
                color        : $primary--color1;
                font-weight  : 800;
            }




        }

        .tab-item:hover {
            background-color: #be9355;

            h3 {
                color: white;
            }
        }
    }
}


.container-header {
    height            : 82px;
    width             : 100%;
    display           : flex;
    flex-direction    : row;
    justify-content   : space-between;
    padding           : 0px 20px 0px 30px;
    // color          : $primary--color1;
    border-bottom     : 1px solid #DDDDDD;



    .btn-menu-header {
        padding: 7px 0px;
        display: none;
        color  : #4c4c4c;
    }


    .ant-input:placeholder-shown {
        text-overflow: ellipsis;
        font-size    : 12px;
        font-family  : Mulish;
    }

    .ant-input-group .ant-input {
        font-size: 12px;
    }

    .ant-input-group-addon {
        color: $primary--color1;
    }

    .logo {
        justify-content: center;
        align-items    : center;
        display        : flex;
        margin-right   : 20px;
    }

    .wrap-right {
        display       : flex;
        flex-direction: column;
        width         : inherit;


        .top-header {
            height         : 40px;
            display        : flex;
            flex-direction : row;
            width          : 100%;
            align-items    : center;
            justify-content: flex-end;
        }

        .bottom-header {
            height         : 40px;
            display        : flex;
            flex-direction : row;
            width          : 100%;
            align-items    : center;
            justify-content: space-between;
            user-select    : none;

            a {
                color: black;
            }

            .item-text,
            .item-text-selected {
                font-size     : 12px;
                // padding    : 8px;
                font-weight   : 600;
                padding       : 10px 1px;
                margin        : 0px 7px;
                cursor        : pointer;
                transition    : transform 0.4s ease;

                .icon-prj {
                    transition: transform 0.4s ease;
                    transform: unset
                }
            }

            .item-text:hover {
                .icon-prj {
                    transition: transform 0.4s ease;
                    transform: rotate(180deg)
                }
            }


            .item-text-selected {
                border-bottom: 2px solid $primary--color1;
                color        : $primary--color1;
            }

            .right {
                display       : flex;
                flex-direction: row;
                align-items   : center;

                .wrap-right-content {
                    display       : flex;
                    flex-direction: row;
                    align-items   : center;
                }

                h3 {
                    margin-bottom: 0px !important;
                    padding      : 0px 15px;
                    color        : $primary--color1;
                    font-weight  : 800;
                    font-size    : 16px;
                }

                .item-text {
                    font-size: 13px;
                    color    : $primary--color2;


                }
            }
        }

        @media only screen and (max-width: 651px) {
            .bottom-header .right .wrap-right-content {
                display: none;
            }

        }

        @media only screen and (max-width: 1015px) {
            .btn-menu-header {
                display: flex;
            }

            .bottom-header .left {
                display: none;
            }
        }
    }




    .div-row-space {
        width           : 100%;
        height          : 1px;
        background-color: #DDDDDD;
        // margin: 0px 10px;
    }

    .div-col-space {
        width           : 1px;
        height          : 15px;
        background-color: $primary--color2;
        // margin: 0px 10px;
    }

}

@media only screen and (max-width: 460px) {
    .container-header {
        display       : flex;
        flex-direction: column;
        height        : auto;
        padding       : 10px;

        .logo {
            margin: 10px 0px;
        }


    }
}

.menu-project {
    display         : flex;
    flex-direction  : column;
    width           : 194px;
    padding         : 0px 16px;
    background-color: #011769;
    border-radius   : 6px;

    .div-space-menu-prj {
        width           : 100%;
        height          : 1px;
        background-color: #C4C4C4;
    }

    .span-item {
        padding    : 10px 0px;
        color      : white;
        font-size  : 12px;
        font-weight: 600;
        text-align : center;
        cursor     : pointer;
    }
}