@import "../../styles/color/variables.scss";

.container-selling {
  padding: 20px 0px;
  width  : 100%;

  .wrap-content-selling {
    padding     : 0px;
    width       : 100%;
    margin-right: auto;
    margin-left : auto;
    max-width   : 1110px;
  }

  .title-selling {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    h2 {
      color      : $primary--color1;
      font-size  : 24px;
      font-weight: 700;
    }
  }

  .searching-box-sell {
    margin-top      : 40px;
    padding         : 40px 30px;
    // border       : 1px solid black;
    border-radius   : 16px;
    box-shadow      : 0px 0px 16px rgba(0, 0, 0, 0.12);
    background      : #ffffff;

    .searching_form_label_slider {
      .ant-col.ant-form-item-label {
        padding-left: 12px;
        text-align  : left;
        font-weight : 600;
      }
    }

    @media only screen and (max-width: 460px) {
      .ant-col-8 {
        display  : block;
        flex     : 0 0 100%;
        max-width: 100%;
      }
    }

    @media only screen and (max-width: 460px) {
      .select-project, .select-box-status {
        margin-top: -30px;
      }
    }

  }
}

@media only screen and (max-width: 1109px) {
  .wrap-content-selling {
    // max-width: 100% !important;
    padding: 0px 15px !important;
  }
}

@media only screen and (max-width: 1130px) {
  .wrap-content-selling {
    padding: 0px 15px !important;
  }
}