@import '../../styles/color/variables.scss';

.container-footer {
    background-color: rgb(56, 56, 56);

    .text-top {
        height          : 50px;
        text-align      : center;
        background-color: $primary--color1;
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : white;
        font-weight     : 600;
        line-height     : 21px;
        font-style      : normal;
    }

    .top-content {
        .title {
            color          : $primary--color1;
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding        : 30px 0px;
            text-align     : center;
            font-weight    : 700;
            font-size      : 18px;

        }

        .description {
            text-align    : center;
            display       : flex;
            padding-bottom: 40px;
            color         : rgb(224, 224, 224);
            font-size     : 12px;
        }
    }

    .midle-content {
        margin : 30px 0px;
        display: flex;


        .ft-content-1 {
            flex-grow     : 1;
            display       : flex;
            flex-direction: column;
            padding       : 5px;
            flex-basis    : calc(100% / 3);

            .f-space-row {
                width           : 20px;
                height          : 2px;
                background-color: #DDDDDD;
                margin-bottom   : 20px;
                // margin: 0px 10px;
            }

            .title {
                color      : $primary--color1;
                display    : flex;
                align-items: center;
                padding    : 5px 0px;
                font-weight: 700;
                font-size  : 18px;
            }


            .item-infor {
                padding: 9px 0px;
                color  : #AAAAAA
            }
        }
    }

    .bottom-content {
        padding-top: 20px;

        .text-end {
            display        : flex;
            align-items    : center;
            justify-content: center;
            color          : rgb(224, 224, 224);
        }
    }


    .wrap-footer-content {
        padding     : 15px 15px;
        width       : 100%;
        margin-right: auto;
        margin-left : auto;

        .div-row-space {
            width           : 100%;
            height          : 1px;
            background-color: #666666;
            margin          : 10px 0px;
        }
    }

    // @media only screen and (max-width: 1439px) {
    //     .wrap-footer-content {
    //         max-width: 100% !important;

    //     }
    // }





    @media only screen and (max-width: 700px) {
        .wrap-footer-content .midle-content {
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 1109px) {
        .wrap-footer-content {
            max-width: 100% !important;
        }
    }

    @media only screen and (min-width: 1110px) {
        .wrap-footer-content {
            max-width: 1110px !important;
        }
    }

}