@import "../../styles/color/variables.scss";

.wrap-booking-confirm-content {

  display: flex;
  justify-content: center;
  margin-top: 30px;

  .content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;

    // booking confirm page
    .booking-confirm {
      width: 66%;

      display: flex;
      align-items: center;
      flex-direction: column;

      .title {
        color: $primary--color1;
        font-size: 24px;
        font-weight: 700;
      }

      .title-line-break {
        background-color: #a1ada4;
        width: 360px;
        height: 1px;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        .title-middle-line-break {
          background-color: $primary--color1;
          width: 80px;
          height: 3px;
        }
      }

      .ant-form {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        .booking-confirm-form-row {
          display: flex;
          justify-content: space-between;

          .break {
            width: 30px;
          }
        }

        .ant-form-item {
          width: 47%;
        }

        .ant-form-item-label > label {
          font-weight: 600;
          font-size: 14px;
        }

        .ant-form-item-label {
          padding: 0px !important;
          .ant-form-item-required {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

          }
        }

        .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
          margin-left: 5px;
          content: "(*)"
        }

        .ant-input,
        .ant-select-selector {
          margin: 0px;
          padding: 0px;
        }

        .ant-form-item-label {
          padding: 0px;
        }

        .ant-select-selector,
        input:is([type="text"]) {
          border: 0px solid white;
          border-bottom: 1px solid #c4c4c4;
          border-radius: 0px;
          line-height: 40px;
          margin: 0px;
          height: 40px;
        }
      }

      .submit-button {
        display: flex;
        justify-content: center;
      }
    }

    // booking payment transfer page
    .booking-payment-transfer {
      width: 66%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        color: $primary--color1;
        font-size: 24px;
        font-weight: 700;
      }

      .title-line-break {
        background-color: #a1ada4;
        width: 360px;
        height: 1px;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        .title-middle-line-break {
          background-color: $primary--color1;
          width: 80px;
          height: 3px;
        }
      }

      .transfer-information-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .transfer-information-row-item {
          width: 47%;
        }
      }

      .ant-input-suffix {
        width: 100%;
        margin: 0px;
      }

      .ant-input-suffix > span:first-of-type {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
      }

      .ant-upload-list,
      .ant-upload-list-picture {
        width: 100%;
      }

      .ant-input-affix-wrapper {
        padding: 4px;
        border: 0px solid white;
        border-bottom: 1px solid #c4c4c4;
        border-radius: 0px;
        line-height: 40px;
        margin: 0px;
        background: transparent;
      }
    }

    // booking payment transfer page
    .booking-complete {
      width: 66%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        color: $primary--color1;
        font-size: 24px;
        font-weight: 700;
      }

      .title-line-break {
        background-color: #a1ada4;
        width: 360px;
        height: 1px;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        .title-middle-line-break {
          background-color: $primary--color1;
          width: 80px;
          height: 3px;
        }
      }
    }

    // booking information
    .booking-information {
      width: 33%;
      margin-left: 30px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.12);
      height: fit-content;
      padding-bottom: 20px;

      .information-image,
      img {
        width: 100%;
        border-radius: 16px 16px 0px 0px;
      }

      .information-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .information-row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 12px;

          .information-label {
            font-weight: 400;
            padding-left: 20px;
          }

          .information-value {
            font-weight: 700;
            padding-right: 20px;
          }
        }

        .information-break {
          margin-top: 12px;
          width: 100%;
          overflow: hidden;
          height: 2px;
          background-color: #ebebeb;
        }
      }
    }

    .submit-button-replace {
      display: none;
      margin-top: 20px;
    }
  }

  // Full page responsive
  @media (min-width: 1110px) {
    .content {
      max-width: 1110px;
    }
  }

  // booking confirm responsive
  @media only screen and (max-width: 920px) and (min-width: 621px) {
    .content {
      flex-direction: column;
      align-items: center;
      .booking-confirm {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 620px) {
    .content {
      flex-direction: column;
      align-items: center;
      .booking-confirm {
        width: 100%;

        .ant-form {
          .booking-confirm-form-row {
            flex-direction: column;
          }
          .ant-form-item {
            width: 100%;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 920px) {
    .content {
      .booking-confirm {
        .submit-button {
          display: none;
        }
      }
      .submit-button-replace {
        display: unset;
      }
    }
  }

  // booking payment transfer responsive
  @media only screen and (max-width: 920px) {
    .content {
      .booking-payment-transfer {
        width: 100%;
        .submit-button {
          display: none;
        }
      }
      .submit-button-replace {
        display: unset;
      }
    }
  }
  @media only screen and (max-width: 620px) {
    .content {
      flex-direction: column;
      align-items: center;
      .booking-information {
        margin-top: 30px;
      }
    }
  }

  // booking complete responsive
  @media only screen and (max-width: 920px) {
    .content {
      .booking-complete {
        width: 100%;
        .submit-button {
          display: none;
        }
      }
      .submit-button-replace {
        display: unset;
      }
    }
  }

  // booking information responsive
  @media only screen and (max-width: 920px) and (min-width: 621px) {
    .content {
      flex-direction: column;
      align-items: center;

      .booking-information {
        width: 100%;
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .information-image {
          width: 50%;
        }

        .information-content {
          width: 50%;

          .information-row .information-value {
          }
        }
      }
    }
  }
  @media only screen and (max-width: 920px) {
    .content {
      .booking-information {
        width: 100%;
        margin: -23px 0px 0px 0px;
      }
    }
  }
  @media only screen and (max-width: 620px) {
    .content {
      .booking-information {
        margin: 0px;
      }
    }
  }
}
