@import "../../styles/color/variables.scss";

.news-container {
  max-width: 1110px;

  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;

  .main-content {
    max-width: 730px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    height: fit-content;
    .content {
      padding: 20px 24px 40px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      /* or 150% */

      color: #444444;
    }
  }

  .popuplar-news {
    padding-left: 30px;

    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      color: #212121;
      width: 169px;

      margin-bottom: 24px;
    }

    &__item {
      display: flex;
      flex-direction: row;

      .news-sm-image {
        max-width: 117px;
        max-height: 66px;

        margin-right: 16px;
      }

      .news-item {
        margin-bottom: 24px;

        .sm-news-title {
          width: 217px;
          max-width: 217px;

          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          /* or 150% */

          display: flex;
          align-items: center;

          color: #212121;

          margin-bottom: 12px;
        }

        .news-datetime {
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height, or 150% */

          color: #888888;

          i.far.fa-clock {
            // font-size: 7px;
          }
        }
      }
    }
  }
}
