.btn-custom {
    padding      : 9px 43px;
    background  : linear-gradient(91.13deg, #e3ab43 0%, #c79345 100%);
    border-radius: 6px;
    color        : white;
    font-weight  : 600;
    cursor       : pointer;
    user-select  : none;
    white-space  : nowrap;
    text-align   : center;
}
