@import '../../styles/color/variables.scss';

.wrap-detail-product-content {
  width            : 100%;
  // height: 100vh;
  display          : flex;
  justify-content  : center;
  background-image : url('../../assets/images/background-gradient.png');
  background-repeat: no-repeat;
  background-size  : 100vw 70%;
  z-index          : -1;

  .component-list {
    height: 482px;

    img {
      width        : 100%;
      height       : 100%;
      border-radius: 10px 0px 0px 10px;
      object-fit   : contain;
    }

    .slick-list {
      height: 482px;

      div {
        height: 100%;
      }
    }
  }

  .previous-arrow {
    position        : absolute;
    top             : calc(50% - 20px);
    left            : 20px;
    z-index         : 1;
    background-color: $primary--color1;
    color           : white;
    border-radius   : 100%;
    font-size       : 40px;
  }

  .next-arrow {
    position        : absolute;
    top             : calc(50% - 20px);
    right           : 20px;
    z-index         : 1;
    background-color: $primary--color1;
    color           : white;
    border-radius   : 100%;
    font-size       : 40px;
  }


  .content {
    padding       : 0px 15px;
    width         : 100%;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;

    .title {
      color      : $primary--color1;
      font-size  : 24px;
      font-weight: 700;
      margin-top : 30px;
    }

    .title-line-break {
      background-color: #a1ada4;
      width           : 360px;
      height          : 1px;
      margin-top      : 16px;
      display         : flex;
      justify-content : center;
      align-items     : center;

      .title-middle-line-break {
        background-color: $primary--color1;
        width           : 80px;
        height          : 3px;
      }
    }

    .description {
      width     : 100%;
      margin-top: 40px;
      display   : flex;

      .image {
        width: 65%;

        .image-slider {
          margin-right: 30px;
        }

        .additional-action {
          margin-top     : 30px;
          display        : flex;
          justify-content: space-around;

          .action {
            img {
              width : 40px;
              height: 40px;
            }
          }
        }
      }

      .short-description {
        width      : 35%;
        padding-top: 30px;

        .clickable {
          color: $primary--color1;
        }

        .action {
          margin-top     : 16px;
          display        : flex;
          justify-content: space-between;

          .buy-now-button {
            background-image: $button-bgr-color;
            height          : 40px;
            width           : 45%;
            border-radius   : 6px;
            color           : white;
            box-shadow      : none;
          }

          .calculate-price-button {
            height          : 40px;
            width           : 45%;
            background-color: white;
            outline         : $button-bgr-color solid 1px;
            border-radius   : 6px;
            color           : $primary--color1;
          }

          input[type="button"]:hover {
            cursor: pointer;

          }
        }
      }
    }

    .detail {
      margin-top: 60px;
      width     : 100%;

      .detail-utilities {
        margin-top    : 20px;
        width         : 100%;
        box-shadow    : 0px 0px 16px rgba(0, 0, 0, 0.12);
        border-radius : 16px;
        padding       : 30px;
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;

        .utilities-item {
          width       : 25%;
          margin-top  : 16px;
          padding-left: 15px;

          i {
            color       : $primary--color1;
            margin-right: 6px;
          }
        }
      }

      .detail-space {
        margin-top     : 20px;
        width          : 100%;
        box-shadow     : 0px 0px 16px rgba(0, 0, 0, 0.12);
        border-radius  : 16px;
        padding        : 30px;
        display        : flex;
        justify-content: center;
      }

      .handover-standards-button-wrapper {
        margin-top     : 20px;
        width          : 100%;
        display        : flex;
        justify-content: center;

        .handover-standards-button {
          width          : 217px;
          height         : 40px;
          color          : white;
          background     : $button-bgr-color;
          display        : flex;
          justify-content: center;
          align-items    : center;
          border-radius  : 6px;
          font-weight    : 600;
        }
      }
    }
  }

  @media only screen and (min-width: 1110px) {
    .content {
      max-width: 1110px !important;
    }
  }

  @media only screen and (max-width: 630px) {
    .content {
      .description {
        flex-direction: column;

        .image {
          width: 100% !important;

          .image-slider {
            margin: 0 !important;
          }
        }

        .short-description {
          width: 100%;

          .action {
            justify-content: space-between !important;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1068px) {
    .utilities-item {
      width: 33% !important;
    }
  }

  @media only screen and (max-width: 760px) {
    .utilities-item {
      width: 50% !important;
    }
  }

  @media only screen and (max-width: 532px) {
    .utilities-item {
      width: 100% !important;
    }
  }
}