@import "../styles/color/variables.scss";

// .ant-btn-lg {
//   background-color: springgreen;
// }

.primary-btn {
  background: linear-gradient(91.13deg, #e3ab43 0%, #c79345 100%);
  border-radius: 6px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  border-color: transparent;
  padding: 10px 40px;
  i {
    margin-right: 10px;
  }
  &:hover {
    background: linear-gradient(91.13deg, #e3ab43 0%, #c79345 100%);
    border-color: transparent;
    color: #ffffff;
    opacity: 0.9;
  }
}

.ant-btn.ant-btn-primary {
  background-color: $button-bgr-color;
  color: white;
  font-weight: 600;
  border: unset;
}

// .ant-btn:active,
// .ant-btn.active,
// .ant-btn:hover,
// .ant-btn:focus {
//   color: $primary--color1;
//   border-color: rgba($primary--color1, 0.8);
//   opacity: 0.9;
// }

// .ant-btn:active,
// .ant-btn.active,
// .ant-btn:hover,
// .ant-btn:focus {
//   &.ant-btn-primary {
//     color: white;
//     border-color: white;
//   }
// }

.ant-radio-button-wrapper:hover {
  color: $primary--color1;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: $primary--color1;
  border-color: $primary--color1;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: $primary--color1;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: $primary--color1;
}

// Pagiantion button
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: $primary--color1;
  border-color: $primary--color1;
}

.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: $primary--color1;
}
