@import './variables';

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $primary--color;
    border-color: $primary--color;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: rgba($primary--color, .4);
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: $text--color-dark;
}

.ant-radio-checked .ant-radio-inner {
    border-color: $primary--color;
}

.ant-radio-inner::after {
    background-color: $primary--color;
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: rgba($primary--color, .4); 
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: $primary--color;

}