@import "./color/variables.scss";

.ant-select {
  color: black;
  outline: none !important;
  .ant-select-selection-placeholder {
    color: black;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }

  &:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    border-bottom: 1px solid $gray--color;
    &:hover {
      border-bottom: 1px solid $primary--color1;
    }
  }
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $primary--color1;
  outline: none !important;
}
