// @import 'reset';
@import "./color/variables.scss";
@import "./button.scss";
// @import '~antd/dist/antd.css';
//  @import '~antd/dist/antd.dark.less';
// @import "dropdown.scss";
//  @import 'button.scss';
// @import "input.scss";
//  @import 'checkbox.scss';
@import "./slider.scss";
@import "./select.scss";

body {
  margin: 0;
  font-family: Mulish;
  // font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.App {
  width: 100vw;
  height: 100vh;
}

.ant-pagination-next,
.ant-pagination-prev {
  line-height: unset;
}

//  a {
//      color: $primary--color1;

//      &:hover {
//          color: darken($color: $primary--color1, $amount: 10%)
//      }
//  }

//  .ant-breadcrumb a:hover {
//      color: darken($color: $primary--color1, $amount: 10%);
//  }

//  .ant-pagination-item-active a {
//      color: $primary--color1;

//      &:hover {
//          color: darken($color: $primary--color1, $amount: 10%)
//      }
//  }

//  .ant-pagination-item-active {
//      border-color: $primary--color1;

//      &:hover {
//          border-color: darken($color: $primary--color1, $amount: 10%)
//      }
//  }

//  .ant-pagination-item:focus,
//  .ant-pagination-item:hover {
//      border-color: darken($color: $primary--color1, $amount: 10%)
//  }

//  .ant-pagination-item:focus a,
//  .ant-pagination-item:hover a {
//      color: darken($color: $primary--color1, $amount: 10%)
//  }

//  .ant-menu.ant-menu-dark .ant-menu-item-selected,
//  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
//      background-color: $bg--active;
//  }

// .ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
//     color: $primary--color1;
// }

// overide menu item hover color
//  .ant-menu-horizontal>.ant-menu-item:hover,
//  .ant-menu-horizontal>.ant-menu-submenu:hover,
//  .ant-menu-horizontal>.ant-menu-item-active,
//  .ant-menu-horizontal>.ant-menu-submenu-active,
//  .ant-menu-horizontal>.ant-menu-item-open,
//  .ant-menu-horizontal>.ant-menu-submenu-open,
//  .ant-menu-horizontal>.ant-menu-item-selected,
//  .ant-menu-horizontal>.ant-menu-submenu-selected {
//      color: $primary--color1;
//      border-color: $primary--color1;
//  }

// Notify icon
//  .ant-notification-notice-icon{
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//  }

// Remove Vitualized out line on focus
.ReactVirtualized__Grid__innerScrollContainer,
.ReactVirtualized__List {
  outline: unset !important;
}

/* Custom scrollbar -- webkit */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #eedec9;
}

::-webkit-scrollbar-thumb {
  background: $primary--color1;
}

/* Custom scrollbar -- Firefox */
:root {
  scrollbar-color: rgba(197, 197, 197, 0.301) rgba(19, 19, 19, 0.294) !important;
  scrollbar-width: thin !important;
}

//  Menu Icon

// .ant-dropdown-menu-item,
// .ant-dropdown-menu-submenu {
//   i {
//     // width: 14px;
//     // margin-right: 5px;
//   }
// }

// .ant-menu-submenu .ant-menu {
//   background-color: $menu--color;
// }

// .ant-dropdown-menu-item,
// .ant-dropdown-menu-submenu-title {
//   padding: 5px 12px 5px 12px;
// }

// .ant-menu-vertical .ant-menu-item,
// .ant-menu-vertical-left .ant-menu-item,
// .ant-menu-vertical-right .ant-menu-item,
// .ant-menu-inline .ant-menu-item,
// .ant-menu-vertical .ant-menu-submenu-title,
// .ant-menu-vertical-left .ant-menu-submenu-title,
// .ant-menu-vertical-right .ant-menu-submenu-title,
// .ant-menu-inline .ant-menu-submenu-title {
//   padding: 0 10px;
// }

// .sis-menu-item,
// .menuitem,
// .ant-dropdown-menu-item,
// .ant-dropdown-menu-submenu-title,
// .ant-dropdown-menu-submenu-title > span {
//   display: flex;
//   align-items: center;
// }

// .ant-layout-sider-collapsed {
//   .sis-menu-item,
//   .menuitem {
//     display: block;
//   }
// }

// .highlight {
//   color: $text--color-light;
// }

// .highlight-2 {
//   color: darken($color: $text--color-light, $amount: 10%);
// }

// @keyframes imgFadeInOut {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// // override tabs
// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//   font-weight: 400;
// }

// // Override rc-virtual-list-scrollbar-thumb background color
// .rc-virtual-list-scrollbar-thumb {
//   background-color: #999 !important;
// }

// // disabled user select in context menu
// .ant-dropdown-menu {
//   user-select: none;
// }

// .custom-contextmenu {
//   .contextmenu__hotkey {
//     position: absolute;
//     right: 0;
//     padding-right: 10px;
//     color: $text--color;
//   }

//   .icon {
//     width: 18px;
//     display: inline-block;
//     color: inherit;
//     font-style: normal;
//     line-height: 0;
//     text-align: center;
//     text-transform: none;
//     vertical-align: -0.125em;
//     text-rendering: optimizeLegibility;
//     -webkit-font-smoothing: antialiased;
//     margin-right: 10px;

//     i {
//       margin: 0;
//     }
//   }

//   .ant-dropdown-menu-item,
//   .ant-dropdown-menu-submenu-title {
//     padding-left: 10px;

//     display: flex;
//     align-items: center;
//   }
// }

// .markdown pre {
//   background-color: #1a1919;
//   padding: 5px;
//   border-radius: 2px;
// }
